<h1>Peters Bücherliste mit {{books.length}} Büchern</h1>

<div *ngIf="books?.length; else noBooks">

    <p> Filtern nach:
        <input [(ngModel)]="filterText">
    </p>

    <button (click)="toggleCover()">
        Cover <span>{{imageIsVisible ? "aus" : "ein" }}</span>blenden
    </button>

    <table>
        <tr>
            <td>Cover</td>
            <td>Titel</td>
            <td>ISBN</td>
            <td>Preis</td>
            <td>Rating</td>
            <td>Aktionen</td>
        </tr>
        <tr *ngFor="let book of books | bookFilter : filterText">
            <td style="width: 50px;">
                <img [src]='book.coverUrl' [style.width.px]="imageWidth" *ngIf="imageIsVisible">
            </td>
            <td><a [routerLink]="['/books', book.isbn]">{{book.title}}</a> </td>
            <td>{{book.isbn}}</td>
            <td>{{book.price | currency:'EUR':'symbol':'1.2-2'}}</td>
            <td>
                <books-rating [id]="book.isbn" [stars]="book.rating" (notify)="userHasRated($event)"></books-rating>
            </td>
            <td></td>
        </tr>
    </table>


</div>

<ng-template #noBooks>
    Leider keine Bücher gefunden.
</ng-template>